<html>
<head>
    <title>Gitorious Repository Synchronizer</title>
    <meta name="decorator" content="atl.admin"/>
</head>
<body>
<form id="admin" class="aui" method="post">
    <div>
        <label for="url">Gitorious URL</label>
        <input type="text" id="url" name="url" class="text" value="$url"/>
    </div>
    <div>
        <label for="interval">Scan interval in minutes</label>
        <input type="text" id="interval" name="interval" class="text" value="$interval"/>
    </div>
    <div>
        <input type="submit" value="Save" class="button"/>
    </div>
</form>
</body>
</html>